<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proj_Planta.Properties.Settings.DB_PlantaConnectionString"
            connectionString="Data Source=DESKTOP-HO7UDGJ\SQLEXPRESS;Initial Catalog=DB_Planta;User ID=sa;Password=Gabriel_102030;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>